<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Your platform (jquery) scripts. -->
    <script src="https://unpkg.com/jquery"></script>
    <link href="https://surveyjs.azureedge.net/1.1.17/survey.css" type="text/css" rel="stylesheet" />
    <script src="https://surveyjs.azureedge.net/1.1.17/survey.jquery.min.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="surveyContainer"></div>
    <script>
        var surveyJSON = {
            "title": "Depression Questionnaire",
            "description": "Over the last 2 weeks, how often have you been bothered by any of the following problem?\n\n",
            "completedHtmlOnCondition": [{
                "expression": "({question1}+{question2}+{question3}+{question4}+{question5}+{question6}+{question7}<=4",
                "html": "<h1>Minimal Anxiety<h1>"
            }, {}, {
                "expression": "({question1}+{question2}+{question3}+{question4}+{question5}+{question6}+{question7}<=9 and ({question1}+{question2}+{question3}+{question4}+{question5}+{question6}+{question7}>=5",
                "html": "Mild Anxiety"
            }, {
                "expression": "({question1}+{question2}+{question3}+{question4}+{question5}+{question6}+{question7}<=14 and ({question1}+{question2}+{question3}+{question4}+{question5}+{question6}+{question7}>=10",
                "html": "Moderate Anxiety"
            }, {
                "expression": "({question1}+{question2}+{question3}+{question4}+{question5}+{question6}+{question7}>=15",
                "html": "Severe Anxiety"
            }],
            "pages": [{
                "name": "page1",
                "elements": [{
                    "type": "rating",
                    "name": "question1",
                    "title": "Little interest or pleasure in doing things",
                    "isRequired": true,
                    "rateValues": [{
                        "value": "0",
                        "text": "Not at all"
                    }, {
                        "value": "1",
                        "text": "Several Days"
                    }, {
                        "value": "2",
                        "text": "More than half the days"
                    }, {
                        "value": "3",
                        "text": "Nearly every day"
                    }],
                    "rateMax": 3
                }, {
                    "type": "rating",
                    "name": "question2",
                    "title": "Feeling down, depressed or hopeless",
                    "isRequired": true,
                    "rateValues": [{
                        "value": "0",
                        "text": "Not at all"
                    }, {
                        "value": "1",
                        "text": "Several Days"
                    }, {
                        "value": "2",
                        "text": "More than half the days"
                    }, {
                        "value": "3",
                        "text": "Nearly every day"
                    }],
                    "rateMax": 3
                }, {
                    "type": "rating",
                    "name": "question3",
                    "title": "Trouble falling or staying asleep or sleeping too much",
                    "isRequired": true,
                    "rateValues": [{
                        "value": "0",
                        "text": "Not at all"
                    }, {
                        "value": "1",
                        "text": "Several Days"
                    }, {
                        "value": "2",
                        "text": "More than half the days"
                    }, {
                        "value": "3",
                        "text": "Nearly every day"
                    }],
                    "rateMax": 3
                }, {
                    "type": "rating",
                    "name": "question4",
                    "title": "Feeling tired or having little energy",
                    "isRequired": true,
                    "rateValues": [{
                        "value": "0",
                        "text": "Not at all"
                    }, {
                        "value": "1",
                        "text": "Several Days"
                    }, {
                        "value": "2",
                        "text": "More than half the days"
                    }, {
                        "value": "3",
                        "text": "Nearly every day"
                    }],
                    "rateMax": 3
                }, {
                    "type": "rating",
                    "name": "question5",
                    "title": "Poor appetite or overeating",
                    "isRequired": true,
                    "rateValues": [{
                        "value": "0",
                        "text": "Not at all"
                    }, {
                        "value": "1",
                        "text": "Several Days"
                    }, {
                        "value": "2",
                        "text": "More than half the days"
                    }, {
                        "value": "3",
                        "text": "Nearly every day"
                    }],
                    "rateMax": 3
                }, {
                    "type": "rating",
                    "name": "question6",
                    "title": "Feeling bad about yourself or that you are a failure or have let yourself or your family down",
                    "isRequired": true,
                    "rateValues": [{
                        "value": "0",
                        "text": "Not at all"
                    }, {
                        "value": "1",
                        "text": "Several Days"
                    }, {
                        "value": "2",
                        "text": "More than half the days"
                    }, {
                        "value": "3",
                        "text": "Nearly every day"
                    }],
                    "rateMax": 3
                }, {
                    "type": "rating",
                    "name": "question7",
                    "title": "Trouble concentrating on things, such as reading the newspaper or watching the television",
                    "isRequired": true,
                    "rateValues": [{
                        "value": "0",
                        "text": "Not at all"
                    }, {
                        "value": "1",
                        "text": "Several Days"
                    }, {
                        "value": "2",
                        "text": "More than half the days"
                    }, {
                        "value": "3",
                        "text": "Nearly every day"
                    }],
                    "rateMax": 3
                }, {
                    "type": "rating",
                    "name": "question8",
                    "title": "Moving or speaking so slowly that other people could have noticed?  Or the opposite - being so fidgery or restless that you have been moving around a lot more than usual",
                    "isRequired": true,
                    "rateValues": [{
                        "value": "0",
                        "text": "Not at all"
                    }, {
                        "value": "1",
                        "text": "Several Days"
                    }, {
                        "value": "2",
                        "text": "More than half the days"
                    }, {
                        "value": "3",
                        "text": "Nearly every day"
                    }],
                    "rateMax": 3
                }, {
                    "type": "rating",
                    "name": "question9",
                    "title": "Thoughts that you would be better off dead of or hurting yourself in some way",
                    "isRequired": true,
                    "rateValues": [{
                        "value": "0",
                        "text": "Not at all"
                    }, {
                        "value": "1",
                        "text": "Several Days"
                    }, {
                        "value": "2",
                        "text": "More than half the days"
                    }, {
                        "value": "3",
                        "text": "Nearly every day"
                    }],
                    "rateMax": 3
                }]
            }]
        };

        var survey = new Survey.Model(surveyJSON);
        $("#surveyContainer").Survey({
            model: survey,

        });

    </script>
</body>

</html>
